body {
    background-color: ghostwhite;
}

header {
padding: 30px;
background:rgb(70, 70, 70);
width: 100%;
}

nav {
    background-color: rgb(70, 70, 70);
    text-align: right;
}

nav a {

    color:rgba(82, 216, 243, 0.74);
    font-size: x-large;
    text-decoration: underline;
}

.opening {
    width: 100%;
    height: 100px;
}

h1 {
    background:rgba(82, 216, 243, 0.74);
    padding: 10px;
    font-size: xx-large;
}