body {
    background-color: ghostwhite;
}

header {
padding: 30px;
background:rgb(70, 70, 70);
}

nav {
    background-color: rgb(70, 70, 70);
}

nav a {
    justify-content: flex-end;
    color:rgba(82, 216, 243, 0.74)
}

h1 {
    background:rgba(82, 216, 243, 0.74);
    padding: 10px;
}